@mixin dots($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin bg($setting, $background: ""){
    @if $setting == cover {
        background-position: center;
        background-size: cover;
    } @else if $setting == contain {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    @if $background != ""{
        background-image: url( $background );
    } @else {
        background-image: url( $placeholder-image );
    }
} 

@mixin box($type: null){
    @if $type == "heavy" {
        box-shadow: 0 2px 5px rgba(0,0,0,.26);
    } @else {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    }
}

@mixin drag-hand(){
    cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;

    &:active {
        cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/closedhand.cur), default !important;
    } 
}

@mixin no-scroll(){
    &::-webkit-scrollbar { width: 0 !important; @include drag-hand(); }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

@mixin placeholder($color: #666666){
    &::-webkit-input-placeholder { color: $color; }
    &::-moz-placeholder { color: $color; }
    &:-ms-input-placeholder { color: $color; }
    &::placeholder { color: $color; }
}

/*
    allows you to use @include pos(0px, 10px) with padding syntax
    padding: 0, padding: 0 0, padding: 0 0 0, padding: 0 0 0 0
*/

@mixin pos($top, $right:null, $bottom:null, $left:null){
    $i : 0;
    
    @if ($top != null) {
      $i : $i + 1;
    }
    
    @if ($right != null) {
      $i : $i + 1;
    }
    
    @if ($bottom != null) {
      $i : $i + 1;
    }
    
    @if ($left != null) {
      $i : $i + 1;
    }
    
    @if ($i == 1) {
      top: $top;
      right: $top;
      bottom: $top;
      left: $top;
    } 
    
    @if ($i == 2) {
      top: $top;
      right: $right;
      bottom: $top;
      left: $right;
    }
    
    @if ($i == 3) {
      top: $top;
      right: $right;
      bottom: $bottom;
      left: $right;
    }
    
    @if ($i == 4) {
      top: $top;
      right: $right;
      bottom: $bottom;
      left: $left;
    }
}
