@keyframes banner-text {
    from {
        position: relative;
        left: -30px;
        opacity: 0;
    }
    to {
        position: relative;
        left: 0px;
        opacity: 1;
    }
}

@keyframes phone {
    from {
        right: calc(10% - 30px);
        opacity: 0;
    }
    to {
        right: 10%;
        opacity: 1;
    }
}

@keyframes phone-responsive {
    from {
        right: calc(10% - 30px);
        opacity: 0;
    }
    to {
        right: 10%;
        opacity: 0.2;
    }
}