// Mixin Imports
@import "mappy";

// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

$triangle: '../images/triangle.svg';
$triangle-brand: '../images/triangle-brand.svg';

// Core Import
@import "typography";
@import "animations";

// View Imports
@import "home";
@import "header";

// Your SCSS goes below here

