@mixin dots($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin bg($setting, $background: ""){
    @if $setting == cover {
        background-position: center;
        background-size: cover;
    } @else if $setting == contain {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    @if $background != ""{
        background-image: url( $background );
    } @else {
        background-image: url( $placeholder-image );
    }
} 
