//Placeholder Image
$placeholder-image: "https://www.scandichotels.com/Static/img/placeholders/image-placeholder_3x2.svg";

//Screen Sizes
$desktop : 1024px;
$tablet : 700px;
$iphone5 : 350px;

//Colour Scheme
$color-1 : #212121;
$color-2 : #616161;
$color-3 : #9E9E9E;
$color-4 : #E0E0E0;
$color-5 : #F5F5F5;