<head>
    <title>Your Site Title</title>

    <!-- <base href=""> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/logo.png" type="image/png" />
    <meta name="theme-color" content="#000000">

    <!-- Sharing -->
    <meta name="description"            content="||Your Site Description||">
    <meta itemprop="name"               content="||Your Site Name||">
    <meta itemprop="description"        content="||Your Site Description||">
    <meta itemprop="image"              content="||Full URL To Site Image||">
    <!-- Twitter -->
    <meta name="twitter:card"           content="summery">
    <meta name="twitter:site"           content="||Your Site URL||">
    <meta name="twitter:title"          content="||Your Site Name||">
    <meta name="twitter:description"    content="||Your Site Description||">
    <meta name="twitter:image:src"      content="||Full URL To Site Image||">
    <!-- Open Graph General (Facebook & Pinterest) -->
    <meta property="og:url"             content="||Your Site URL||">
    <meta property="og:title"           content="||Your Site Name||">
    <meta property="og:description"     content="||Your Site Description||">
    <meta property="og:image"           content="||Full URL To Site Image||">
    <meta property="og:type"            content="website">


    <link rel="stylesheet" href="css/index.css">
    
    <!-- icons http://ionicons.com/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>


