<header>
    <div class="content-max-width">
        <div class="logo" style="background-image: url('/assets/logo.png')"></div>

        <div class="tablet-and-up">
            <ul class="menu-items">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
                <li><a href="/contact">Contact</a></li> 
            </ul>
        </div>

        <div class="tablet-and-down menu-button" onclick="mobileMenu.toggle()">
            <i class="ion-navicon"></i>
        </div>
    </div>
</header>

